__pycache__
*.egg-info

*.wav


/models
/assets

*.npy

*.pt
experiments/data/D_240.pth
/experiments
*.mp3
.DS_Store

*.safetensors
__pypackages__/
*.pth
data/LJSpeech-1.1/metadata.csv
data/LJSpeech-1.1/README
